API_SECRET=sua_secret_aqui # gere com "python -c 'import secrets; print(secrets.token_hex(32))'"

DISCORD_BOT_TOKEN=seu_token_aqui
DISCORD_ID=seu_id_aqui

ROBLOX_COOKIE=seu_cookie_aqui
ROBLOX_USER_ID=seu_user_id_aqui

SPOTIFY_REFRESH_TOKEN=seu_refreshtoken_aqui
SPOTIFY_REDIRECT=http://localhost:8000/callback
SPOTIFY_CLIENT=seu_client_aqui
SPOTIFY_SECRET=seu_secret_aqui

SUPABASE_KEY=sua_key_aqui
SUPABASE_URL=sua_url_aqui
